@font-face{
	font-family: digital;
		src:url(../digital-7.ttf);
}


 body

{
background-color:white;
} 



.heading{
	padding: 1px;
	text-align: center;
	font-family: arial;
}


.box
{
background-color:grey;
height:450px;
width:330px;
border-radius:10px;
position:relative;
top:80px;
left:40%;
} 



.display input
{
position:relative;
border-width: 3px;
margin-left: 10px;
height:50px;
width: 300px;
color:white;
font-family:digital,arial; 
font-weight: normal; 
background-color:#0d0d0d;
text-align:right;
font-size: 30px;
} 


.but
{
width:60px;
height:40px;
border:none;
border-radius: 8px;
margin-left:15px;
border-bottom:#a6a6a6 4px solid;
border-right:#a6a6a6 4px solid; 
}


.but.ceac{
	color:white;
	background-color:blue;
}


.but.on
{
color:white;
background-color:#404040;

}



.but.calc{
	width:55px;
	height:95px;
	background-color:orange;
	float: right;
	margin-right: 20px;

}


.but:active
{
border-top:black 2px solid;
border-bottom:2px #6f6f6f solid;
}


